.bkcg1{
    background-color: gainsboro;
}

.bkcg2{
    background-color: burlywood;
    position: relative;
    overflow: hidden;
}
.bkcghead{
    position: relative;
}
.bckgnav{
    background-color: cornflowerblue;
    padding-top: 1.5rem;
}
.nav{
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.barnav{
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    margin-left: 2.5rem;
    
}
.logo{
    width: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.log2{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.utlogo{
    height: 2rem;
    height: 2.5rem;
    width: auto;
}
.checkbox{
    display: flex;
    margin-left: 2.5rem;
    justify-content: space-around;
    }
.navbtn1{
    color: azure;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    
}
.navbtn2{
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1-var(--tw-space-x-reverse)));
    color: azure;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    
}
.navinses{
    display: flex;
    justify-content: end;
}
.inses{

}